* {
  box-sizing: border-box;
}

body {
  font: 300 10.5pt/1.4 'Fira Sans', sans-serif;

  margin: 0;
  padding: 0.5in;
  width: 8.5in;
  height: 11in;
}

h1, h2, h3 {
  font: inherit;
  font-size: 3em;

  margin: 0;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1em;
  font-weight: 500;
}

p {
  margin: 0;
}

strong {
  font-weight: 500;
}

.flex-spacer {
  flex-grow: 1;
}

.content-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.content {
  width: 100%;
}

.left-right-container {
  display: flex;
}

.left {
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  text-align: right;

  width: 35%;
  padding-right: 1em;
}

.right {
  width: 65%;
  padding-left: 1em;
}

ul {
  margin: 0;
  padding: 0;
}

.left ul {
  list-style: none;
}

.right ul {
  padding: 0 1em;
}

.section:not(:first-of-type), .subsection {
  margin-top: 0.75em;
}

.title {
  margin: 0 auto 3em 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.subtitle, .github-container {
  display: flex;
  align-items: center;
}

.subtitle > * {
  margin: 0 0.75em;
}

.github-img {
  width: 1em;
  height: 1em;
  display: inline;
}

.experience-title {
  display: flex;
}

.experience-dates {
  font-style: italic;
}

.skill-grid {
  display: inline-flex;
}

.skill-grid-col:not(:last-child) {
  margin-right: 1em;
}

.skill-grid-item {
  text-align: center;
}

@media screen {
  body {
    border: 1px solid rgba(0, 0, 0, 0.25);
  }
}

@page {
  size: 8.5in 11in;
  margin: 0;

  @top-left-corner {
    content: none;
  }
  @top-right-corner {
    content: none;
  }
  @bottom-right-corner {
    content: none;
  }
  @bottom-left-corner {
    content: none;
  }
}
