@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'EBGaramond';
  font-style: normal;
  font-weight: 400;
  src: url(./EBGaramond.ttf) format('truetype');
}

@font-face {
  font-family: 'EBGaramond';
  font-style: italic;
  font-weight: 400;
  src: url(./EBGaramond-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'EBGaramond';
  font-style: normal;
  font-weight: 700;
  src: url(./EBGaramond.ttf) format('truetype');
}

:root {
  --width: 8.5in;
  --height: 11in;
  --padding: 0.5in;
}

body {
  @apply w-[var(--width)] h-[var(--height)] p-[var(--padding)];
}

@media screen {
  body {
    @apply border;
    @apply mx-auto my-[var(--padding)];
    padding: calc(var(--padding) - 1px);
  }
}

@page {
  size: var(--width) var(--height);
  margin: 0;

  @top-left-corner {
    content: none;
  }
  @top-right-corner {
    content: none;
  }
  @bottom-right-corner {
    content: none;
  }
  @bottom-left-corner {
    content: none;
  }
}
